# dependencies
client/node_modules/
server/node_modules/

# build output
client/dist/
client/build/
server/dist/

# environment variables
client/.env
client/.env.*
server/.env

# logs
*.log

# IDEs and editors
.vscode/
.idea/

# misc
.DS_Store
*.tsbuildinfo

# vite artifact
client/*.timestamp-*
